{% extends "layout_front.html.twig" %}

{% block title %}Contact{% endblock %}

{% block content %}

  <h2>Pour me contacter</h2>
  <p>Rien de plus simple.</p>

  {% if contactForm %}
    {{ form_start(contactForm) }}

    <div>
      <!--<label>Nom : </label>-->
      {{ form_label(contactForm.nom, 'Nom:') }}<br/>
      <div class='form-input'>
        {{ form_errors(contactForm.nom) }}
        {{ form_widget(contactForm.nom) }}
      </div>
    </div>

    <div>
      <!--<label>Email : </label>-->
      {{ form_label(contactForm.email, 'Email:') }}<br/>
      <div class='form-input'>
        {{ form_errors(contactForm.email) }}
        {{ form_widget(contactForm.email) }}
      </div>
    </div>

    <div>
      <!--	<label>Message : </label>-->
      {{ form_label(contactForm.message, 'Message:') }}<br/>
      <div class='form-textarea'>
        {{ form_errors(contactForm.message) }}
        {{ form_widget(contactForm.message) }}
      </div>
    </div>

    <input type="submit" value="Envoyer l'email"/>
    {{ form_end(contactForm) }}
  {% endif %}

{% endblock %}
