{% extends "layout_front.html.twig" %}

{% block title %}Portfolio{% endblock %}

{% block content %}


<div class="accordion">
<ul>
  {% for portfolio in portfolios %}

  <a href="#">
        <li style="background-image: url('{{ portfolio.img }}');">
          <div>
            <div class="accordion_item_inf">
              <p class="accordion_item_inf_title">{{ portfolio.name }}</p>
              <p class="accordion_item_inf_text">{{ portfolio.descriptif }}</p>
            </div>
          </div>
        </li>
      </a>

<!--    <article>
        <h2><a class="articleTitle" href="{{ path('portfolio', { 'id': portfolio.id }) }}">{{ portfolio.name }}</a></h2>
        <p>{{ portfolio.descriptif }}</p>
        <img src="{{ portfolio.img }}" alt="">
    </article>-->

    <!-- Works container -->
        <!-- <li>
          <div><a class="fancybox-thumb" rel="fancybox-thumb" href="{{ portfolio.img }}" title="{{ portfolio.name }}"><img src="{{ portfolio.thumb }}" /></a></div>
        </li> -->
      <!--Dummy images by The Fox And King :: http://dribbble.com/snootyfox-->
    <!--END: Work container-->

  {% endfor %}
      </ul>
    </div>

{% endblock %}
